h1{
    margin-left: 20px;
    text-align: center;
    color:rgb(48, 91, 231);
    font-weight:bolder;
    font-size: 70px;
}

p,span{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.container{
    border: 2px solid black;
    box-shadow: 0px 5px 10px;
    padding: 0px 50px 50px 50px;
    height: 100%;
    width: 75%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;

}

.container-calculadora-peso, .container-calculadora-altura{
    margin-bottom: 16px;
    width: 100%;
}

.peso-slider, .altura-slider{
    width: 30%;
    height: 1px;
    outline: none;
    
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(48, 91, 231);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.input-number{
    height: 20px;
    width: 90px;
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    border: solid 2px rgb(48, 91, 231);;
}

.btn-calcular{
    font-size: 15px;
    width: 30%;
    font-weight: bold;
    background-color:rgb(48, 91, 231);
    cursor: pointer;
    border: 100px;
    padding: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(245, 180, 137);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(48, 91, 231) , rgb(81, 115, 228));
    font-family: 'Open Sans', sans-serif;
}
