h1{
    margin-left: 20px;
    text-align: center;
    color:rgb(231, 106, 48);
}

p{
    display: inline-block;
}

.container{
    border: 2px solid black;
    box-shadow: 0px 5px 10px;
    padding: 0 50px 0 50px;
    height: 400px;
    width: 90%;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    margin: auto;
}

.container-calculadora-peso, .container-calculadora-altura{
    margin-bottom: 16px;
    width: 100%;
}

.peso-slider, .altura-slider{
    width: 10%;
    height: 1px;
    outline: none;
    
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(231, 106, 48);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.input-number{
    height: 20px;
    width: 90px;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 5px;
    border: solid 1px rgb(231, 106, 48);
}

.btn-calcular{
    font-size: 15px;
    width: 30%;
    background-color:rgb(231, 106, 48);
    cursor: pointer;
    border: none;
    padding: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(212, 125, 74);
    text-align: center;
    align-items: center;
}
